.rubriqueExt{
	height: 32vw;
	width: 32vw;
	display: inline-block;
	position: relative;
	border: 0px solid #0fa2d5;
}

.rubriqueInt{
}

.texteLegendeIndex{
	color: #0fa2d5;
	font-size: 4vw;
	position: absolute;
	display: inline-block;
	bottom: 1.5%;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.rubriqueTexte{
	position: absolute;
	text-align: center;
	font-size: 3vw;
	right: 15%;
	top: 15%;
	height: 70%;
	width: 70%;
	border: 0px solid black;
	border-radius: 2%;
	background-color: #0fa2d5;
	color: white;	
	
}
.imageIndex{
	height: 100%;
}
.boutonIndex{
	position: absolute;
	height: 27%;
	border: 0px solid black;
	border-radius: 2%;
}
.boutonVert{
	background-color: #32c870;
}
.boutonDefaut{

}
.boutonGris{
	background-color: #7a828f;
}
.boutonRouge{
	background-color: #e74c3c;
}
.boutonJaune{
	background-color: #dfdf20;
}
.boutonHD{
	right: 4%;
	top: 8%;
}
.boutonMD{
	right: 4%;
	top: 37%;
}
.boutonBD{
	right: 4%;
	bottom: 8%;
}
.boutonHM{
	left: 37%;
	top: 8%;
}
.boutonHG{
	left: 4%;
	top: 8%;
}
.boutonMG{
	left: 4%;
	top: 37%;
}
.boutonBG{
	left: 4%;
	bottom: 8%;
}
