:root {
	--SearchView-Mosaic-RowSize: 5;
	--SearchView-height: 90vh;
	--SearchView-width: 100vw;
	--SearchView-bar-height: 10vh;
	--ScrollBar-Margin: 2vw;
	--unitwv: 1vw;
	--SearchView-Mosaic-height: calc(var(--SearchView-height) - var(--SearchView-bar-height));
	--SearchView-Tile-width: calc(calc(var(--SearchView-width) / var(--SearchView-Mosaic-RowSize)) - calc(calc(var(--ScrollBar-Margin) + var(--unitwv)) / var(--SearchView-Mosaic-RowSize)));
	--SearchView-Tile-height: calc(var(--SearchView-Tile-width) * 9 / 16);
}

@media (max-width: 1400px) {
  	:root {
		--SearchView-Mosaic-RowSize: 4;
	}
}

@media (max-width: 1100px) {
  	:root {
		--SearchView-Mosaic-RowSize: 3;
		--ScrollBar-Margin: 3vw;
		--unitwv: 2vw;
	}
}

@media (max-width: 800px) {
	:root {
		--SearchView-Mosaic-RowSize: 2;
		--ScrollBar-Margin: 4vw;
		--unitwv: 3vw;
	}
}
@media (max-width: 600px) {
}


#searchView{
	height: var(--SearchView-height);
	width: var(--SearchView-width);
	overflow: auto;
}

.searchBar{
	height: var(--SearchView-bar-height);
	width: var(--SearchView-width);
	background-color: black;
}

.mosaicContainer{
	height: var(--SearchView-Mosaic-height);
	width: var(--SearchView-width);
	padding-right: var(--ScrollBar-Margin);
	padding-top: var(--ScrollBar-Margin);
	overflow: auto;
}

.aTile{
	display: inline-block;
	height: var(--SearchView-Tile-height);
	width: var(--SearchView-Tile-width);
	overflow: none;
}
.aTile a{
	display: inline-block;
	height: 100%;
	width: 100%;
}