*{
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
    box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
}

header{
    height: 10vh;
    width: 100vw;
}

section{
    height: 90vh;
    width: 100vw;
}

#leftContainer{
    width: 80vw;
}

#diapo{
    height: 80vh;
    width: 100%;
}

#bandeImg{
    height: 10vh;
    width: 100%
}

#desc{
    height: 90vh;
    width: 20vw;
}


#menuButton{
	height: 67.5px;
	border: solid;
	border-radius: 17.5%;
	border-width: 5px;
}

#reglagesButton{
	height: 67.5px;
	border: solid;
	border-radius: 17.5%;
	border-width: 5px;
}

#menuDiv,#reglagesDiv{
	display: none;
}

#menuUl{

}
.menu{
	border : solid;
	border-width: 0px;
	padding: 2.5px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 10px;
	border-radius: 5px;
	background-color: #0fa2d5;
}

.menu a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

label, input{
	width: 12.5%;
	display:inline-block;
}

label{
	text-align: center;
}

input{
/*input[type="text"],input[type="date"],input[type="time"],input[type="email"]{*/
	border : solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #508495;
	background-color: white;
}

.form_boutons input{
	width: 25%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
	background-color: #e9f7fc;
	font-weight: bold;
}

.form_boutons{
	text-align: center;
}
