*{
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
    box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
}

a{
	text-decoration: none;
}

.lienAccueil{
	color: #7a828f;
}

header{
    height: 10vh;
    width: 100vw;
}

header img{
    max-height: 10vh;
    width: auto;
}

.imageButton:hover{
	cursor: pointer;
}

section{
    height: 90vh;
    width: 100vw;
}

#contenu{
	position: absolute;
	top: 10vh;
}

#menuButton{
	height: 8vh;
	border: solid;
	border-radius: 17.5%;
	border-width: 5px;
	position: absolute;
	right: 0px;
}

#menuDiv{
	display: none;
	position: absolute;
}

#menuDiv{
	right: 0px;
}

#menuUl{
	margin: 0px;
}
.menu{
	padding: 2.5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	background-color: #e6edf2;
	list-style-type: none;
}

.menu:hover{
	background-color: #0fa2d5;
}

.lien {
	color: #7a828f;
	text-decoration: none;
}

.menu:hover{
	color: #e6edf2;
}

form{
	text-align: center;
}

label, input,.input{
	width: 40%;
	display:inline-block;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0.25%;
	font-size: 1.25em;
}

label{
	text-align: center;
	color: #7a828f;
}

input, .input{
/*input[type="text"],input[type="date"],input[type="time"],input[type="email"]{*/
	border : solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #7a828f;
	background-color: white;
}

input:focus{
	box-shadow: 0px 0px 10px #0fa2d5;
}

input[type="submit"]:focus{
	box-shadow: 0px 0px 0px;
}

.form_boutons input{
	border-width: 0px;
	border-radius: 0px;
	padding: 2.5px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 10px;
	background-color: #0fa2d5;
	color: white;
	font-weight: bold;
}

.form_boutons{
	text-align: center;
}

#tableUsers{
	margin-left: auto;
	margin-right: auto;
	font-size: 1.25em;
	width: 80%;
}

#tableUsers th{
	text-align: center;
	background-color: #0fa2d5;
	width: 40%;
	color: white;
}

#tableUsers td{
	text-align: center;
	width: 40%;
	color: #7a828f;
}

.boutonTableUser{
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-radius: 2px;
	border-width: 1px;
	height: 3vh;
	width: 3vh;
	background-color: #e6edf2;
	color: #7a828f;
}

.boutonTableUserDesactive {
	color: white;
	text-decoration: none;
}
