*{
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
    box-sizing: border-box;
	font-size: 4vh;
	font-family: Arial,sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}

.erreursSaisie{
	color: red;
}

a{
	text-decoration: none;
}

.lienAccueil{
	color: #7a828f;
}

header{
    height: 10vh;
    width: 100vw;
	overflow: hidden;
}

header img{
    /*--max-height: 12vh;--*/
	height: 10vh;
    width: auto;
}
.imageButton{
	height: 10vh;
	border: solid;
	border-radius: 25%;
	border-width: 0vh;
	border-color: #24748f;
	background-color: #0fa2d5;
}

.imageButton:hover{
	cursor: pointer;
}

.imageButton.ajout{
	background-color: #32c870;
	border-color: #33995d;
}

.imageButton.panier{
	background-color: #737373;
	border-color: #606060;
}

.petitBouton{
	height: 3vh;
	border: solid;
	border-radius: 50%;
	border-width: 0vh;
	border-color: #24748f;
	background-color: #0fa2d5;
	margin-left: 0.75vh;
	margin-right: 1vh;
}
.vert{
	background-color: #32c870;
}
.rouge{
	background-color: #e74c3c;
}
section{
    height: 90%;
    width: 100%;
}

#contenu{
	/* Pourquoi en absolute? le footer ne s'affiche pas correctement du coup */
	position: absolute;
	top: 10vh;
}

form{
	width: 100%;
	text-align: center;
}

label, input,.input, .inputSpacer{
	width: 45%;
	display:inline-block;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0.25%;
}

label{
	text-align: center;
	color: #7a828f;
}

input, .input{
	border : solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #7a828f;
	background-color: white;
	min-height: 6.5vh;
	-webkit-appearance:none;
	/* Les 2 dernières lignes pour que ça marche sur IOS et Internet Explorer Mk2 sinon ça ne marche pas*/
}

.form_boutons input{
	border-width: 0px;	
	border-radius: 1px;
	height: 6.5vh;
	padding: 2.5px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 10px;
	background-color: #0fa2d5;
	color: white;
	font-weight: bold;
	-webkit-appearance:none;
}
.form_boutons input[name=submit] { 
    background-color: #32c870;
}
.form_boutons input[name=cancel] { 
    background-color: #e74c3c;
}
.form_boutons{
	text-align: center;
}

.tableAffichage{
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: solid 1px black;
	border-collapse: collapse;
}

.tableAffichage th{
	text-align: center;
	background-color: #0fa2d5;
	color: white;
}

.tableAffichage td a{
	text-align: center;
	color: #7a828f;
}

.tableAffichage td{
	border-bottom: solid 1px black;
}
.boutonTableUser{
	font-size: 5vh;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-radius: 2px;
	border-width: 1px;
	height: 5vh;
	width: 5vh;
	background-color: #e6edf2;
	color: #7a828f;
}
.boutonTableUserDesactive {
	text-align:center;
	color: white;
	text-decoration: none;
}
#ip{
	font-weight: bold;
	text-align: center;
	padding: 1vh;
}
